In [1]:
# KNeighbors Flowers classifiation
import pandas as pd 
from sklearn.datasets import load_iris

iris = load_iris()
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df['class'] = iris.target
df['class name'] = iris.target_names[iris['target']]
df.head()

   sepal length (cm)  sepal width (cm)  ...  class  class name
0                5.1               3.5  ...      0      setosa
1                4.9               3.0  ...      0      setosa
2                4.7               3.2  ...      0      setosa
3                4.6               3.1  ...      0      setosa
4                5.0               3.6  ...      0      setosa

[5 rows x 6 columns]

In [2]:
#split to test and train data
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(iris.data, iris.target, test_size=0.2, random_state=0)

In [9]:
#train ML model

from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=10)
model.fit(x_train, y_train)

# measure model's accuracy
model.score(x_test, y_test)

1.0

In [10]:
# predict 
model.predict([[6.6, 4.8, 2.2, 0.4]])

array([0])